<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8"
		<title>Quiz 2</title>
	</head>
	<body>
		
		<div class="content">
			<h1>Hi, Welcome to the second quiz!</h1>
			<p>Make sure the containers below respond to the events or functions implemented with quiz2.js</p>
			<div class="evens">			
				<div class="click">
					<span>click event</span>
				</div>
				<div class="mouse-over">
					<span>mouse over event</span>
					<p>Who's the richest person you know? (mouse over to find out)</p>
				</div>
				<div>
					<span>submit event</span>
					<!-- The form not having an action or method is not a bug in this case -->
					<form>
						<label for="form">AJAX, yo!</label>
						<input type="text" id="form" name="form" placeholder="Enter Some Text" />
						<input value="SUBMIT">
					</form>
				</div>
				div class="timeout">
					<span>timeout function</span>
				</div>
			</div>
		

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
	</body>
</html>